.news-feed {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.news-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  max-width: 100%;
}

.news-card-image {
  object-fit: cover; /* Ensure image fits container without stretching */
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  aspect-ratio: 16 / 9; /* Adjust aspect ratio as needed */
}

.news-card-content {
  padding: 1rem;
}

.news-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.news-card-description {
  font-size: 0.9rem;
  color: #666;
}
